<p>vuelos-component works!</p>
<div class="navLink">
    <a [routerLink]="['./main']">Main</a> |
    <a [routerLink]="['./mas-info']">Mas Info</a> |
    <a [routerLink]="['./', 5]">Vuelo 5</a>
</div>

<router outlet></router>