<p>Aqui vemos el detalle de un destino de un viaje</p>
<br>
{{destino.id}}
<br>
{{destino.nombre}}
</p>
<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
    style="height: 50vh; width: 100vw;"
>
<mgl-maker [lngLat]="[-75.551012, 10.421185]">
    <div
    onclick="alert('hola')"
    class="maker"
    >
HOLA MUNDO!    
</div>
</mgl-maker>
</mgl-map>