
    <div class="card-content" [@esFavorito] ="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span><h4>{{position}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Servicios</p>
            <ul>
                <li *ngFor="let s of destino.servicios"> 
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase="'Desayuno'" style="color: red;">{{s}}</i>
                        <i *ngSwitchDefault>{{s}}</i>
                    </span>
                </li>
            </ul>
            
            <div>
                <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
                    <i class="material-icons md-18">thumbs_up</i></a>
                <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                    <i class="material-icons md-18">thumbs_down</i></a>
                {{destino.votes}}
            </div>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo,	perspiciatis voluptas totam</p>
            <a href="#"	class="btn-card" (click)="ir()"
            appTrackearClick data-trackear-tags="destino_elejir_preferido lista_destinos_item"
            >Ir!!</a>	
            <span *ngIf="destino.isSelected()">
                <span ngNonBindable>{{Preferido}}</span>	
            </span>	 
            <a [routerLink]="['/destino']"> Ver detalle</a>
            </div>
    </div>
